<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Лоліта, відео</title>
  <meta name="description" content="Портфоліо копірайтерки та UX-райтерки: кейси, контакти, резюме." />
  <link rel="stylesheet" href="./styles/style.css" />
  <link rel="stylesheet" href="https://use.typekit.net/ukf5fyv.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $("#header").load("header-dark.html");
      $("#footer").load("footer.html");
    });
  </script>
</head>
<body>
  <div class="wrapper">
    <div id="header"></div>

    <main>
      <section>
        <h1 class="text_h1">1+1 media</h1>
        <p class="case-cover__text_small">
          Знімальний ролик: інсайт, ідея, сценарій, презентація, зйомка, робота в парі з режиссером та з продакшеном
        </p>
      </section>

      <section>
        <p class="text_subtitle1">
          1+1 media проводив конкурс ідей: будь-хто, навіть котик, міг надіслати ідею відеоконтенту, а журі обирало які втілити на каналах холдингу.
        </p>
        <p><b>Головна задача</b> — розповісти про конкурс людям і котикам й змотивувати їх надіслати ідеї.</p>
        <p>
          <strong>ЦА:</strong> всі<br>
          <strong>Термін:</strong> стислий<br>
          <strong>Бюджет:</strong> як термін
        </p>
      </section>

      <section>
        <h2>Інсайт</h2>
        <em class="text_h42">“ Люди критично ставляться до своїх ідей, тому ті роками живуть у столі “</em>
      </section>

      <section>
        <h2>Слоган</h2>
        <em class="text_h4">“ Ідеї не повинні залишатися в столі “</em>
      </section>

      <section>
        <p class="text_subtitle1">
          У відео розповіли історію від імені того самого стола, візуально розклавши її на трьох героїв для різних цільових авдиторій:
          дівчинки-підлітка, хлопця-влогера та мами з дитиною. Кожного з них зовнішні обставини відривають від процесу створення, але
          вони доводять діло до кінця, адже ідеї не повинні залишатися в столі.
        </p>
      </section>

      <section>
        <iframe
          class="video"
          src="https://www.youtube-nocookie.com/embed/l1usIwAXjf4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
    </main>

    <div id="footer"></div>
  </div>

  <script src="/script.js"></script>
</body>
</html>
