@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

$fontFamily: "Cormorant Garamond";

$lightColor: #FFFFFF;
$accentColor: black;
$bgColor: #2a2829;
$brightColor: #fc8e08;

$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1200;
$md1: $maxWidthContainer + 20;
$md2: 1020;
$md3: 768;
$md4: 480;

//vars finish

//null css start

@import "null";

//null css finish

//common

main {
  flex-grow: 1;
}

._light {
  color: white;
}

._dark {
  background-color: $bgColor;
}
._dark-color {
  color: black;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  // .header__display
  padding: 20px;
  z-index: 3;

  &__display {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__title

  &__title {
    // .header__title_text
    z-index: 20;

    &_text {
      font-size: 2rem;
    }
  }

  // .header__nav

  &__nav {
  }

  // .header__burger

  &__burger {
  }
  &_absolute {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.68) 0%,
      rgba(0, 0, 0, 0.61) 0.01%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
  }

  @media (min-width: $md3+px) {
    padding: 0px 5vw;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 35px;
  height: 10px;
  z-index: 20;
  &:hover {
    cursor: pointer;
  }

  &:before {
    content: "";
    background-color: $accentColor;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    top: 0;
  }
  &:after {
    content: "";
    background-color: $accentColor;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    bottom: 0;
  }

  &_light {
    &:before {
      background-color: $lightColor;
    }
    &:after {
      background-color: $lightColor;
    }
  }

  @media (min-width: $md3+px) {
    display: none;
  }
}
.header__burger.active {
  span {
    transform: scale(0);
  }
  &:before {
    transform: rotate(45deg);
    top: 5px;
  }
  &:after {
    transform: rotate(-45deg);
    bottom: 4px;
  }

  @media (min-width: $md1+px) {
    &:before {
      top: 10px;
    }
    &:after {
      bottom: 10px;
    }
  }
}
.nav {
  // .nav__wrapper
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $lightColor;
  transition: all 0.3s ease 0s;
  padding: 32px 25px;
  z-index: 10;

  &__wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // .nav__list

  &__list {
  }
  &_dark {
    background-color: $bgColor;
  }

  // .nav__item

  &__item {
    margin: 3vw 5vw;
    text-align: center;
    & a {
      font-size: 24px;
    }
  }

  // .nav__action

  &__action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $md3+px) {
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    right: auto;
    background-color: transparent;
    &__wrapper {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__item {
      margin: auto;
    }

    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3vw;
      padding-right: 3vw;
    }
  }
}

.nav.active {
  right: 0;
}
.icon {
  width: 100%;
}
.icon-link {
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.section {
  padding-block: 20px;
  margin: 0;
  display: flex;
  justify-content: center;

  &_dark {
    background-color: $bgColor;
    color: rgb(224, 224, 219);
  }

  &__cover {
    height: 65vh;
    display: flex;
    align-items: flex-end;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    &_avangers {
      background-position: top;
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.68) 0%,
          rgba(0, 0, 0, 0.61) 0.01%,
          rgba(0, 0, 0, 0.6) 100%
        ),
        url("../assets/bg-newchannel.jpg");
    }
    &_manifest {
      background-position: center;
      background-image: url("../assets/bg-diya.jpg");
    }
    &_next-big-thing {
      background-position: center;
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 0, 0, 0.15) 0.01%,
          rgba(0, 0, 0, 0.25) 100%
        ),
        url("../assets/bg-next-big-thing.png");
    }
    &_saphira {
      background-position: center;
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 0, 0, 0.15) 0.01%,
          rgba(0, 0, 0, 0.25) 100%
        ),
        url("../assets/saphira-bg.jpg");
    }
    &_esupport {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(2px);
      background-image: url("../assets/esupport-bg.jpg");
    }
    &_robota-ua {
      height: 100vh;
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.15) 0%,
          rgba(0, 0, 0, 0.15) 0.01%,
          rgba(0, 0, 0, 0.25) 100%
        ),
        url("../assets/bg-robota-ua.png");
    }
  }
  @media (min-width: $md2+px) {
    padding-block: 40px;
  }
}
.container {
  padding: 3vw 6vw;
  width: 100%;
  @media (min-width: $md4+px) {
    padding: 0 30px;
  }

  @media (min-width: $md2+px) {
    max-width: 1100px;
    padding: 0 30px;
  }
  @media (min-width: $md1+px) {
    max-width: 1200px;
    padding: 0 20px;
  }
}
.greeting {
  // .greeting__photo
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  &__photo {
    object-fit: cover;
    height: 345px;
    max-width: 345px;
    width: 100%;
    object-position: 50% 50%;
  }

  // .greeting__text

  &__text {
    font-size: 26px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 25px;
    line-height: 130%;
    & span {
      font-weight: 600;
    }

    &::before {
    }
  }

  &__line {
    &_top {
      display: block;
      margin-bottom: 10px;
    }
    &_bottom {
      display: none;
    }
  }

  @media (min-width: $md2+px) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__photo {
      height: 500px;
      width: 85%;
      max-width: none;
    }

    &__text {
      font-size: 26px;
      height: 100%;
      justify-content: space-between;
      &_small {
        font-size: 20px;
        white-space: nowrap;
      }
      &_head {
        display: inline-flex;
        align-items: center;
        gap: 10px;
      }
    }

    &__line {
      &_top {
        display: none;
      }
      &_bottom {
        display: inline-block;
      }
    }
  }
  @media (min-width: 1220px) {
    &__text {
      font-size: 27px;
    }
  }
}

.marquee {
  text-transform: uppercase;
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 30px;
  &__text {
    position: absolute;
    will-change: transform;
    display: inline;
    white-space: nowrap;
    animation: marquee 40s linear infinite;
    font-size: 1.5rem;
  }
  & .content {
    display: inline;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.cases {
  // .cases_image
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  grid-auto-rows: min-content;

  &_image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 8;
    & img {
      width: 100%;
      height: 100%;
      object-position: 50% 50%;
      object-fit: cover;
      transition: opacity ease 200ms;
      &.special {
        object-position: 0% 51.7881%;
      }
    }
  }

  // .cases_title

  &_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
    width: 90%;
    opacity: 0;
    transition: opacity ease 200ms;
  }

  // .cases__item

  &__item {
    position: relative;
    padding-bottom: 75%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      & img {
        opacity: 0;
      }

      & .cases_title {
        opacity: 1;
      }
    }
  }

  @media (min-width: $md2+px) {
    grid-template-columns: 1fr 1fr;
  }
}
.experience {
  // .experience__title
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
  &__title {
    font-size: 32px;
    font-weight: 300;
  }

  // .experience__item

  &__item {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    font-weight: 200;
    column-gap: 5px;
    // align-items: center;
    // .experience__item_name
    &_name {
      font-size: 22px;
      text-align: end;
      grid-column-start: 1;
      grid-column-end: 2;
      justify-self: flex-end;
      font-weight: 400;
    }

    &_year {
      font-size: 15px;
      text-align: center;
      line-height: 36px;
      grid-column-start: 2;
      grid-column-end: 3;
      justify-self: flex-end;
      opacity: 0.5;
      margin-inline: auto;
    }

    // .experience__item_value

    &_value {
      font-size: 16px;
      line-height: 150%;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  @media (min-width: $md2+px) {
    margin-block: 25px;
    gap: 20px;
    &__title {
      font-size: 44px;
    }

    &__item {
      grid-template-columns: 1fr 70px 1fr;
      column-gap: 15px;

      &_year {
        font-size: 20px;
        line-height: 25px;
      }
      &_name {
        font-size: 26px;
        max-width: 350px;
        font-weight: 400;
      }

      // .experience__item_value

      &_value {
        font-size: 20px;
      }
    }
  }
}

.footer {
  // .footer__text
  background-color: $bgColor;
  color: #e0e0da;
  padding: 10vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: #e0e0da 1px solid;
  margin-top: auto;
  &__text {
    font-size: 15px;
    text-align: left;
    line-height: 130%;
  }

  // .footer__button

  &__button {
    width: 100%;
    max-width: 300px;
    padding: 14px 25px;
    border-radius: 100%;
    background-color: white;
    color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3em;
    text-transform: lowercase;
    text-align: center;
    font-size: 1.75rem;
    &:visited {
      color: #000;
    }
    &:hover {
      opacity: 0.8;
    }

    &_dark {
      padding: 14px 65px;
      max-width: 350px;
      color: white;
      background-color: #253551;
      border: 4px solid white;
      &:visited {
        color: #fff;
      }
      margin-bottom: 10px;
    }
  }

  @media (min-width: $md3+px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 2vw 3vw;
    &__text {
      font-size: 20px;
      max-width: 500px;
    }
  }
}

//cases

.case-cover {
  // .case-cover__text
  color: white;
  display: flex;
  flex-direction: column;
  gap: 7vh;

  &_bottom-padding {
    padding-bottom: 15vh;
  }

  &__text {
    // .case-cover__text_small

    &_small {
      font-size: 22px;
      font-family: adobe-garamond-pro, serif;
      font-weight: 300;
    }

    // .case-cover__text_big

    &_big {
      font-size: 42px;
      font-weight: 400;
    }

    // .case-cover__text_italic

    &_italic {
      font-style: italic;
    }
  }
}

.case-view {
  // .case-view__text-block
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__text-block {
    margin-block: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    &_small {
      max-width: 350px;
      padding-right: 30px;
    }
    &_image {
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        object-fit: cover;
      }
    }

    @media (min-width: $md3+px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
    }
  }

  @media (min-width: $md2+px) {
    &__text-block {
      margin-block: 40px 50px;
    }
  }
}

.text {
  // .text_h3

  &_h3 {
    font-weight: 600;
    font-size: calc(2.16vw + 1rem);
    line-height: 150%;
  }

  &_h6 {
    font-weight: 500;
    line-height: 160%;
    font-size: calc((2.2 - 1) * 1.2vw + 1rem);
  }
  // .text_body

  &_body {
    font-weight: 300;
    font-size: 19px;
    line-height: 120%;
  }

  &_body-pro {
    font-family: adobe-garamond-pro, serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 190%;
  }

  // .text_h4

  &_h4 {
    font-weight: 500;
    font-size: calc(1.56vw + 1rem);
    line-height: 160%;
  }

  &_h5 {
    font-weight: 400;
    font-size: calc(1.56vw + 1rem);
    line-height: 160%;
  }

  &_h1 {
    font-weight: 500;
    font-size: calc((4 - 1) * 1.2vw + 1rem);
  }
  &_helper {
    font-weight: 300;
    color: #9fa0a3;
    font-size: calc((1 - 1) * 1.2vw + 1rem);
    text-align: center;
    white-space: normal;
    line-height: 180%;
  }
  &_subtitle1 {
    font-weight: 400;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    line-height: calc(1.4 * (1 + (1 - 1.6) / 25));
  }
}

.about-text {
  font-size: calc((1.4 - 1) * 1.2vw + 1rem);
  max-width: 60ch;
}

.video-block {
  display: flex;
  gap: 15px;
  @media (max-width: $md3+px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    & div {
      margin-top: -20px;
      text-align: center;
    }
    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }
}

.video {
  width: 90vw;
  height: 50vw;
  @media (min-width: $md2+px) {
    width: 60vw;
    height: 30vw;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 35px;
  // .navigation__prev
  @media (max-width: $md3+px) {
    & p {
      font-size: 16px;
    }
  }

  &__prev {
    display: inline-flex;
    align-items: center;
    &::before {
      content: "<";
      margin-right: 30px;
      // padding-top: 10px;
      font-size: 40px;
      transform: translateX(-50%);
      @media (max-width: $md3+px) {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  // .navigation__next

  &__next {
    display: inline-flex;
    align-items: center;
    text-align: end;
    &::after {
      content: ">";
      margin-left: 30px;
      // padding-top: 10px;
      font-size: 40px;
      transform: translateX(-50%);
      @media (max-width: $md3+px) {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  gap: 4vw;

  @media (min-width: $md2+px) {
    display: grid;
    gap: 40px;
    text-align: start;
    &_two {
      grid-template-columns: 1fr 1fr;
    }
    &_three {
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &_four {
      grid-template-columns: repeat(4, 1fr);
    }
    &_60-40 {
      grid-template-columns: 6fr 4fr;
    }
    &_40-60 {
      grid-template-columns: 4fr 6fr;
    }
    &_20-80 {
      grid-template-columns: 2fr 8fr;
    }
    &_10-90 {
      grid-template-columns: 1fr 9fr;
    }

    &_10-120 {
      grid-template-columns: 1fr 12fr;
    }
    &_five {
      grid-template-columns: repeat(5, 1fr);
      gap: 8px;
      align-items: flex-start;
    }
    &_big-gap {
      gap: 10vw;
    }
    &_no-space {
      gap: 0;
    }
  }
}

.grid-column {
  &_1 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  &_2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &_3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  &_1-4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  &_4-5 {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.flex {
  display: flex;
  &_center-block {
    justify-content: center;
    align-items: center;
  }
}

.manifest {
  &_center-text {
    max-width: 440px;
    align-self: center;
    text-align: center;
    padding-block: 30px 50px;
  }

  &_down-block {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
}

.padding-block {
  @media (min-width: $md3+px) {
    &_desktop {
      padding-inline: 15%;
      padding-bottom: 40px;
      text-align: center;
    }
  }
}

.brackets-text {
  color: $brightColor;
  text-align: center;
  padding-inline: 40px;
  font-size: calc(0.6vw + 1rem);
  line-height: 200%;
}

.brackets-block {
  display: inline-flex;
  align-items: center;
  &::before {
    content: "[";
    font-size: calc(3.6vw + 1rem);
    color: $brightColor;
  }
  &::after {
    content: "]";
    font-size: calc(3.6vw + 1rem);
    color: $brightColor;
  }
  &_pink {
    display: inline-flex;
    align-items: center;
    &::before {
      content: "[";
      font-size: calc(3.6vw + 1rem);
      color: #e93dc4;
    }
    &::after {
      content: "]";
      font-size: calc(3.6vw + 1rem);
      color: #e93dc4;
    }
  }
}

.poster-block {
  width: 100%;
  & img {
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
  }
}

.left-padding {
  @media (min-width: $md3+px) {
    align-self: baseline;
  }
}

.derzh-platezhi_label {
  &::before {
    content: "головне повідомлення";
    font-size: 25px;
    color: $brightColor;
    padding-bottom: 10px;
    @media (min-width: $md3+px) {
      margin-top: -50px;
      position: absolute;
    }
  }
}

.about {
  &__greeting {
    padding-inline: 7vw;
  }
}

.poetry {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts {
  flex: 1 0 auto;
  height: 100%;
  padding-top: 10vh;
  &_block {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1px 1fr;
    width: 100%;
  }
  &_name-1 {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  &_name-2 {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  &_value-1 {
    grid-area: 3/1/4/2;
  }
  &_value-2 {
    grid-area: 3/2/4/3;
  }

  &_line {
    grid-area: 2/1/3/3;
  }
}

@media (min-width: $md2+px) {
  #site-title {
    white-space: nowrap;
  }
}

.mobile-reverse {
  @media (max-width: $md3+px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.pink {
  color: #e93dc4;
}

.header {
  &__lang-btn {
    width: 28px;
    height: 28px;
    appearance: none;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    color: $lightColor;
    border: 1.7px solid #000;
    border-radius: 3px;
    background-color: $bgColor;
    text-align: center;
    cursor: pointer;
    z-index: 20;

    &:hover {
      background-color: $lightColor;
      color: $bgColor;
    }
    &:focus-visible {
      outline: none;
    }

    @media (min-width: 768px) {
      width: 31px;
      height: 31px;
      font-size: 16px;
      border-radius: 7px;
    }

    // @media (min-width: 992px) {
    //   width: 31px;
    //   height: 31px;
    //   font-size: 12px;
    //   border-radius: 5px;
    // }
  }
  &__lang-opt {
    z-index: 10;
    width: 28px;
    height: 28px;
    background-color: $lightColor;
    color: $bgColor;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    border: 1.7px solid $bgColor;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // transition: $transition;
    // transition-timing-function: $cubic-bezier;

    &:hover {
      background-color: $bgColor;
      color: $lightColor;
    }

    &:nth-child(1) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:nth-child(3) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    @media (min-width: 768px) {
      width: 31px;
      height: 31px;
      font-size: 16px;
      &:nth-child(1) {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      &:nth-child(2) {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }

    // @media (min-width: 992px) {
    //   width: 41px;
    //   height: 41px;
    //   font-size: 16px;
    // }
  }
  &__lang-opt_light {
    z-index: 10;
    width: 28px;
    height: 28px;
    background-color: #fff;
    color: $bgColor;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    text-decoration: none;
    text-align: center;
    border: 1.7px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // transition: $transition;
    // transition-timing-function: $cubic-bezier;

    &:hover {
      background-color: $bgColor;
      color: #fff;
    }

    &:nth-child(1) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    &:nth-child(3) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    @media (min-width: 768px) {
      width: 31px;
      height: 31px;
      font-size: 16px;
      &:nth-child(1) {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      &:nth-child(2) {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }
    }

    // @media (min-width: 992px) {
    //   width: 41px;
    //   height: 41px;
    //   font-size: 16px;
    // }
  }
  &__lang-btn_light {
    width: 28px;
    height: 28px;
    appearance: none;
    font-weight: 700;
    font-size: 10px;
    line-height: 120%;
    color: $bgColor;
    border: 1.7px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 20;

    &:hover {
      background-color: #fff;
      color: $bgColor;
    }
    &:focus-visible {
      outline: none;
    }

    @media (min-width: 768px) {
      width: 31px;
      height: 31px;
      font-size: 16px;
      border-radius: 7px;
    }

    // @media (min-width: 992px) {
    //   width: 31px;
    //   height: 31px;
    //   font-size: 12px;
    //   border-radius: 5px;
    // }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.header-hide {
  top: -100px;
}

.blue {
  color: #0974e8;
}

.no-hover {
  &:hover {
    cursor: default;
  }
}

.media-photo-1020 {
  @media (max-width: $md2+px) {
    flex-direction: column-reverse;
  }
}

.margin-top-desktop {
  @media (min-width: $md2+px) {
    margin-top: 20px;
  }
}
