@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: #FFFFFF;
  margin: 0;
  color: #000;
}

body {
  line-height: 1;
  font-family: "Noto", sans-serif;
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

input,
button,
textarea {
  font-family: "Noto", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

main {
  flex-grow: 1;
}

._light {
  color: white;
}

._dark {
  background-color: #2a2829;
}

._dark-color {
  color: black;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
  z-index: 3;
}
.header__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  z-index: 20;
}
.header__title_text {
  font-size: 2rem;
}
.header_absolute {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.61) 0.01%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    padding: 0px 5vw;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 35px;
  height: 10px;
  z-index: 20;
}
.header__burger:hover {
  cursor: pointer;
}
.header__burger:before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  top: 0;
}
.header__burger:after {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  bottom: 0;
}
.header__burger_light:before {
  background-color: #FFFFFF;
}
.header__burger_light:after {
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 5px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 4px;
}
@media (min-width: 1220px) {
  .header__burger.active:before {
    top: 10px;
  }
  .header__burger.active:after {
    bottom: 10px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FFFFFF;
  transition: all 0.3s ease 0s;
  padding: 32px 25px;
  z-index: 10;
}
.nav__wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_dark {
  background-color: #2a2829;
}
.nav__item {
  margin: 3vw 5vw;
  text-align: center;
}
.nav__item a {
  font-size: 24px;
}
.nav__action {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    right: auto;
    background-color: transparent;
  }
  .nav__wrapper {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav__item {
    margin: auto;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    padding-right: 3vw;
  }
}

.nav.active {
  right: 0;
}

.icon {
  width: 100%;
}

.icon-link {
  display: block;
  width: 26px;
  height: 26px;
  margin-left: 5px;
}
.icon-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.section {
  padding-block: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.section_dark {
  background-color: #2a2829;
  color: rgb(224, 224, 219);
}
.section__cover {
  height: 65vh;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__cover_avangers {
  background-position: top;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.61) 0.01%, rgba(0, 0, 0, 0.6) 100%), url("../assets/bg-newchannel.jpg");
}
.section__cover_manifest {
  background-position: center;
  background-image: url("../assets/bg-diya.jpg");
}
.section__cover_next-big-thing {
  background-position: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 0.01%, rgba(0, 0, 0, 0.25) 100%), url("../assets/bg-next-big-thing.png");
}
.section__cover_saphira {
  background-position: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 0.01%, rgba(0, 0, 0, 0.25) 100%), url("../assets/saphira-bg.jpg");
}
.section__cover_esupport {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  background-image: url("../assets/esupport-bg.jpg");
}
.section__cover_robota-ua {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 0.01%, rgba(0, 0, 0, 0.25) 100%), url("../assets/bg-robota-ua.png");
}
@media (min-width: 768px) {
  .section__cover {
    height: 90vh;
  }
  .section__cover_robota-ua {
    height: 100vh;
  }
}

.section__container {
  padding: 5vw 0vw 5vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.section__container_center {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .section__container {
    padding-inline: 5vw;
    padding-block: 5vw;
  }
}

.greeting {
  position: relative;
}
.greeting__text {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .greeting__text {
    font-size: 3.75rem;
  }
}

.greeting__text_black {
  color: #000000;
}
.greeting__description {
  font-size: 12px;
  margin-top: 5vh;
}
.greeting__description_black {
  color: #000000;
}
@media (min-width: 768px) {
  .greeting__description {
    font-size: 2rem;
    max-width: 768px;
  }
}

.bubble {
  position: relative;
  margin-bottom: 32px;
}
.bubble__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}
.bubble__image {
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.25s;
  cursor: pointer;
}
.bubble__image:hover {
  transform: scale(1.05);
}
@media (min-width: 768px) {
  .bubble__title {
    font-size: 2.5rem;
  }
  .bubble__image {
    border-radius: 8px;
  }
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 768px) {
  .table {
    gap: 20px;
  }
}

.brackets-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brackets-block__title {
  font-size: 24px;
  font-weight: 700;
}
.brackets-block__description {
  font-size: 16px;
  font-weight: 400;
}
.brackets-block__list {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.brackets-block__element {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .brackets-block__title {
    font-size: 3.75rem;
  }
  .brackets-block__description {
    font-size: 2rem;
    max-width: 768px;
  }
  .brackets-block__list {
    font-size: 2.25rem;
    max-width: 768px;
  }
  .brackets-block__element {
    margin-top: 3rem;
  }
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
@media (min-width: 768px) {
  .timeline {
    gap: 20px;
  }
}

.cover {
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cover_small {
  height: 100px;
}
.cover_saphira {
  background-image: url("../assets/saphira-bg.jpg");
}
.cover__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.cover__title {
  font-size: 24px;
  font-weight: 700;
}
.cover__description {
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .cover {
    height: 400px;
  }
  .cover__title {
    font-size: 36px;
  }
  .cover__description {
    font-size: 24px;
  }
}
