@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  background-color: #e0e0da;
  margin: 0;
  color: #000;
}

body {
  line-height: 1;
  font-family: "Cormorant Garamond";
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

input,
button,
textarea {
  font-family: "Cormorant Garamond";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

main {
  flex-grow: 1;
}

._light {
  color: white;
}

._dark {
  background-color: #2a2829;
}

._dark-color {
  color: black;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
  z-index: 3;
}
.header__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  z-index: 20;
}
.header__title_text {
  font-size: 2rem;
}
.header_absolute {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.61) 0.01%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    padding: 0px 5vw;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 35px;
  height: 10px;
  z-index: 20;
}
.header__burger:hover {
  cursor: pointer;
}
.header__burger:before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  top: 0;
}
.header__burger:after {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  bottom: 0;
}
.header__burger_light:before {
  background-color: #e0e0da;
}
.header__burger_light:after {
  background-color: #e0e0da;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

.header__burger.active span {
  transform: scale(0);
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 5px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 4px;
}
@media (min-width: 1220px) {
  .header__burger.active:before {
    top: 10px;
  }
  .header__burger.active:after {
    bottom: 10px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #e0e0da;
  transition: all 0.3s ease 0s;
  padding: 32px 25px;
  z-index: 10;
}
.nav__wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_dark {
  background-color: #2a2829;
}
.nav__item {
  margin: 3vw 5vw;
  text-align: center;
}
.nav__item a {
  font-size: 24px;
}
.nav__action {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    right: auto;
    background-color: transparent;
  }
  .nav__wrapper {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav__item {
    margin: auto;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    padding-right: 3vw;
  }
}

.nav.active {
  right: 0;
}

.icon {
  width: 100%;
}

.icon-link {
  display: block;
  width: 28px;
  height: 28px;
  margin-left: 5px;
}

.section {
  padding-block: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
}
.section_dark {
  background-color: #2a2829;
  color: rgb(224, 224, 219);
}
.section__cover {
  height: 65vh;
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__cover_avangers {
  background-position: top;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.61) 0.01%, rgba(0, 0, 0, 0.6) 100%), url("../assets/bg-newchannel.jpg");
}
.section__cover_manifest {
  background-position: center;
  background-image: url("../assets/bg-diya.jpg");
}
.section__cover_next-big-thing {
  background-position: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 0.01%, rgba(0, 0, 0, 0.25) 100%), url("../assets/bg-next-big-thing.png");
}
.section__cover_saphira {
  background-position: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 0.01%, rgba(0, 0, 0, 0.25) 100%), url("../assets/saphira-bg.jpg");
}
.section__cover_esupport {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  background-image: url("../assets/esupport-bg.jpg");
}
.section__cover_robota-ua {
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 0.01%, rgba(0, 0, 0, 0.25) 100%), url("../assets/bg-robota-ua.png");
}
@media (min-width: 1020px) {
  .section {
    padding-block: 40px;
  }
}

.container {
  padding: 3vw 6vw;
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1020px) {
  .container {
    max-width: 1100px;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .container {
    max-width: 1200px;
    padding: 0 20px;
  }
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.greeting__photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 345px;
  max-width: 345px;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.greeting__text {
  font-size: 35px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 130%;
}
.greeting__text span {
  font-weight: 600;
}
.greeting__line_top {
  display: block;
  margin-bottom: 10px;
}
.greeting__line_bottom {
  display: none;
}
@media (min-width: 1020px) {
  .greeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .greeting__photo {
    height: 500px;
    width: 85%;
    max-width: none;
  }
  .greeting__text {
    font-size: 40px;
  }
  .greeting__text_small {
    font-size: 26px;
    white-space: nowrap;
  }
  .greeting__text_head {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }
  .greeting__line_top {
    display: none;
  }
  .greeting__line_bottom {
    display: inline-block;
  }
}

.marquee {
  text-transform: uppercase;
  display: flex;
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  height: 30px;
}
.marquee__text {
  position: absolute;
  will-change: transform;
  display: inline;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
  font-size: 1.5rem;
}
.marquee .content {
  display: inline;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.cases {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 40px;
  grid-auto-rows: min-content;
}
.cases_image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 8;
}
.cases_image img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity ease 200ms;
}
.cases_image img.special {
  -o-object-position: 0% 51.7881%;
     object-position: 0% 51.7881%;
}
.cases_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  text-align: center;
  width: 90%;
  opacity: 0;
  transition: opacity ease 200ms;
}
.cases__item {
  position: relative;
  padding-bottom: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cases__item:hover {
  cursor: pointer;
}
.cases__item:hover img {
  opacity: 0;
}
.cases__item:hover .cases_title {
  opacity: 1;
}
@media (min-width: 1020px) {
  .cases {
    grid-template-columns: 1fr 1fr;
  }
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.experience__title {
  font-size: 44px;
  font-weight: 300;
}
.experience__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 200;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.experience__item_name {
  font-size: 28px;
  text-align: end;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: flex-end;
}
.experience__item_value {
  font-size: 20px;
  line-height: 150%;
  grid-column-start: 2;
  grid-column-end: 3;
}
@media (min-width: 1020px) {
  .experience {
    margin-block: 40px;
    gap: 40px;
  }
  .experience__title {
    font-size: 60px;
  }
  .experience__item {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  .experience__item_name {
    font-size: 35px;
    max-width: 350px;
  }
  .experience__item_value {
    font-size: 24px;
  }
}

.footer {
  background-color: #2a2829;
  color: #e0e0da;
  padding: 10vw 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: #e0e0da 1px solid;
  margin-top: auto;
}
.footer__text {
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 130%;
}
.footer__button {
  width: 100%;
  max-width: 300px;
  padding: 14px 25px;
  border-radius: 100%;
  background-color: white;
  color: black;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3em;
  text-transform: lowercase;
  text-align: center;
  font-size: 1.75rem;
}
.footer__button:visited {
  color: #000;
}
.footer__button:hover {
  opacity: 0.8;
}
.footer__button_dark {
  padding: 14px 65px;
  max-width: 350px;
  color: white;
  background-color: #253551;
  border: 4px solid white;
  margin-bottom: 10px;
}
.footer__button_dark:visited {
  color: #fff;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 5vw 5vw;
  }
  .footer__text {
    font-size: 26px;
    max-width: 500px;
  }
}

.case-cover {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 7vh;
}
.case-cover_bottom-padding {
  padding-bottom: 15vh;
}
.case-cover__text_small {
  font-size: 22px;
  font-family: adobe-garamond-pro, serif;
  font-weight: 300;
}
.case-cover__text_big {
  font-size: 42px;
  font-weight: 400;
}
.case-cover__text_italic {
  font-style: italic;
}

.case-view {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.case-view__text-block {
  margin-block: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}
.case-view__text-block_small {
  max-width: 350px;
  padding-right: 30px;
}
.case-view__text-block_image {
  height: 100%;
}
.case-view__text-block_image img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .case-view__text-block {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }
}
@media (min-width: 1020px) {
  .case-view__text-block {
    margin-block: 40px 50px;
  }
}

.text_h3 {
  font-weight: 600;
  font-size: calc(2.16vw + 1rem);
  line-height: 150%;
}
.text_h6 {
  font-weight: 500;
  line-height: 160%;
  font-size: calc(1.44vw + 1rem);
}
.text_body {
  font-weight: 300;
  font-size: 19px;
  line-height: 120%;
}
.text_body-pro {
  font-family: adobe-garamond-pro, serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 190%;
}
.text_h4 {
  font-weight: 500;
  font-size: calc(1.56vw + 1rem);
  line-height: 160%;
}
.text_h5 {
  font-weight: 400;
  font-size: calc(1.56vw + 1rem);
  line-height: 160%;
}
.text_h1 {
  font-weight: 500;
  font-size: calc(3.6vw + 1rem);
}
.text_helper {
  font-weight: 300;
  color: #9fa0a3;
  font-size: calc(0vw + 1rem);
  text-align: center;
  white-space: normal;
  line-height: 180%;
}
.text_subtitle1 {
  font-weight: 400;
  font-size: calc(0.72vw + 1rem);
  line-height: 1.3664;
}

.video-block {
  display: flex;
  gap: 15px;
}
@media (max-width: 768px) {
  .video-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .video-block div {
    margin-top: -20px;
    text-align: center;
  }
  .video-block:nth-child(even) {
    flex-direction: column-reverse;
  }
}

.video {
  width: 90vw;
  height: 50vw;
}
@media (min-width: 1020px) {
  .video {
    width: 60vw;
    height: 30vw;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 35px;
}
@media (max-width: 768px) {
  .navigation p {
    font-size: 16px;
  }
}
.navigation__prev {
  display: inline-flex;
  align-items: center;
}
.navigation__prev::before {
  content: "<";
  margin-right: 30px;
  font-size: 40px;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .navigation__prev::before {
    font-size: 16px;
    margin-right: 10px;
  }
}
.navigation__next {
  display: inline-flex;
  align-items: center;
  text-align: end;
}
.navigation__next::after {
  content: ">";
  margin-left: 30px;
  font-size: 40px;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .navigation__next::after {
    font-size: 16px;
    margin-left: 10px;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  gap: 4vw;
}
@media (min-width: 1020px) {
  .grid {
    display: grid;
    gap: 40px;
    text-align: start;
  }
  .grid_two {
    grid-template-columns: 1fr 1fr;
  }
  .grid_three {
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid_four {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid_60-40 {
    grid-template-columns: 6fr 4fr;
  }
  .grid_40-60 {
    grid-template-columns: 4fr 6fr;
  }
  .grid_20-80 {
    grid-template-columns: 2fr 8fr;
  }
  .grid_10-90 {
    grid-template-columns: 1fr 9fr;
  }
  .grid_10-120 {
    grid-template-columns: 1fr 12fr;
  }
  .grid_five {
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    align-items: flex-start;
  }
  .grid_big-gap {
    gap: 10vw;
  }
  .grid_no-space {
    gap: 0;
  }
}

.grid-column_1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-column_2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.grid-column_3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.grid-column_1-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-column_4-5 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.flex {
  display: flex;
}
.flex_center-block {
  justify-content: center;
  align-items: center;
}

.manifest_center-text {
  max-width: 440px;
  align-self: center;
  text-align: center;
  padding-block: 30px 50px;
}
.manifest_down-block {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .padding-block_desktop {
    padding-inline: 15%;
    padding-bottom: 40px;
    text-align: center;
  }
}

.brackets-text {
  color: #fc8e08;
  text-align: center;
  padding-inline: 40px;
  font-size: calc(0.6vw + 1rem);
  line-height: 200%;
}

.brackets-block {
  display: inline-flex;
  align-items: center;
}
.brackets-block::before {
  content: "[";
  font-size: calc(3.6vw + 1rem);
  color: #fc8e08;
}
.brackets-block::after {
  content: "]";
  font-size: calc(3.6vw + 1rem);
  color: #fc8e08;
}
.brackets-block_pink {
  display: inline-flex;
  align-items: center;
}
.brackets-block_pink::before {
  content: "[";
  font-size: calc(3.6vw + 1rem);
  color: #e93dc4;
}
.brackets-block_pink::after {
  content: "]";
  font-size: calc(3.6vw + 1rem);
  color: #e93dc4;
}

.poster-block {
  width: 100%;
}
.poster-block img {
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .left-padding {
    align-self: baseline;
  }
}

.derzh-platezhi_label::before {
  content: "головне повідомлення";
  font-size: 25px;
  color: #fc8e08;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .derzh-platezhi_label::before {
    margin-top: -50px;
    position: absolute;
  }
}

.about__greeting {
  padding-inline: 7vw;
}

.poetry {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts {
  flex: 1 0 auto;
  height: 100%;
  padding-top: 10vh;
}
.contacts_block {
  display: grid;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1px 1fr;
  width: 100%;
}
.contacts_name-1 {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.contacts_name-2 {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.contacts_value-1 {
  grid-area: 3/1/4/2;
}
.contacts_value-2 {
  grid-area: 3/2/4/3;
}
.contacts_line {
  grid-area: 2/1/3/3;
}

@media (min-width: 1020px) {
  #site-title {
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .mobile-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.pink {
  color: #e93dc4;
}

.header__lang-btn {
  width: 28px;
  height: 28px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: #e0e0da;
  border: 1.7px solid #000;
  border-radius: 3px;
  background-color: #2a2829;
  text-align: center;
  cursor: pointer;
  z-index: 20;
}
.header__lang-btn:hover {
  background-color: #e0e0da;
  color: #2a2829;
}
.header__lang-btn:focus-visible {
  outline: none;
}
@media (min-width: 768px) {
  .header__lang-btn {
    width: 31px;
    height: 31px;
    font-size: 16px;
    border-radius: 7px;
  }
}
.header__lang-opt {
  z-index: 10;
  width: 28px;
  height: 28px;
  background-color: #e0e0da;
  color: #2a2829;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  text-decoration: none;
  text-align: center;
  border: 1.7px solid #2a2829;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__lang-opt:hover {
  background-color: #2a2829;
  color: #e0e0da;
}
.header__lang-opt:nth-child(1) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.header__lang-opt:nth-child(3) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (min-width: 768px) {
  .header__lang-opt {
    width: 31px;
    height: 31px;
    font-size: 16px;
  }
  .header__lang-opt:nth-child(1) {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .header__lang-opt:nth-child(2) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}
.header__lang-opt_light {
  z-index: 10;
  width: 28px;
  height: 28px;
  background-color: #fff;
  color: #2a2829;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  text-decoration: none;
  text-align: center;
  border: 1.7px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__lang-opt_light:hover {
  background-color: #2a2829;
  color: #fff;
}
.header__lang-opt_light:nth-child(1) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.header__lang-opt_light:nth-child(3) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (min-width: 768px) {
  .header__lang-opt_light {
    width: 31px;
    height: 31px;
    font-size: 16px;
  }
  .header__lang-opt_light:nth-child(1) {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .header__lang-opt_light:nth-child(2) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
}
.header__lang-btn_light {
  width: 28px;
  height: 28px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: #2a2829;
  border: 1.7px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  z-index: 20;
}
.header__lang-btn_light:hover {
  background-color: #fff;
  color: #2a2829;
}
.header__lang-btn_light:focus-visible {
  outline: none;
}
@media (min-width: 768px) {
  .header__lang-btn_light {
    width: 31px;
    height: 31px;
    font-size: 16px;
    border-radius: 7px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.header-hide {
  top: -100px;
}

.blue {
  color: #0974e8;
}/*# sourceMappingURL=style.css.map */